# Python
__pycache__/
*.py[cod]
*$py.class
venv/
# .env  <-- Un-ignored as per user request to include keys

# Project Specific
# nse_monitor/data/ <-- Un-ignored
nse_monitor/downloads/
nse_monitor/logs/
*.log
.vscode/
.idea/
# *.db <-- Un-ignored
